.weWrapper {
    width: 1214px;
    height: 430px;
    background-color: #ee0000;
    position: absolute;
    margin-top: 790px;
    padding: 8%;
}
.weH2 {
    width: 350px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    line-height: 40px;
    padding: 10px 10px;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    color: #FFff;
}
.weP {
    width: 535px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    margin-left: 15px;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
}
.weImg {
    width: 1620px;
    height: 530px;
    position: absolute;
    margin: -400px 65px;
}
.btn1 {
    width: 159px;
    height: 50px;
    border-radius: 40px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    margin: 20px 10px;
}
.btn2 {
    width: 215px;
    height: 50px;
    border-radius: 40px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    margin: 20px 25px;
    background: #131313;
    color: #ffff;
}