.navbar {
    width: 1366px;
    height: 80px;
    background-color: #000;
    margin-bottom: 8px;
}
.imgNav {
    width: 60px;
    height: 60px;
    margin-left: 80px;
    margin-top: 10px;
}
.navP {
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 21px;
    margin-left: 5px;
    font-style: normal;
    margin-top: 20px;
}
.navlist {
    position: absolute;
    display: flex;
    justify-content: right;
    list-style: none;
    cursor: pointer;
    width: 900px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 350px;
}
li{
    margin-top: -50px;
    margin-right: 30px;
    color: #ffffff;
}